
/* 
rgb(59, 59, 59)
rgb(44, 44, 44) 
rgb(30, 30, 30)
rgb(69, 69, 69)
rgb(100, 100, 100)


#clr4 {
  background-color: #009a5f;
}
#clr6 {
  background-color: #c16528;
}
#clr9 {
  background-color: #ad000e;
*/



* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px !important;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 20, 0);
}
body.dark {
  background-color: rgb(30, 30, 30) !important;
  color: whitesmoke !important;
}

[hidden] {
  display: none !important;
  visibility: hidden !important;
}

html {
  overflow-x: hidden;
  min-width: 350px;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 14px;
}
#main-2-2,
#main-2-1,
#main-3-1,
#main-3-2,
#main-4-1,
#main-4-2,
#main-4-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body > h1 {
  letter-spacing: 20px;
  font-weight: bolder;
  border-bottom: solid 1px black;
  width: 100%;
  box-shadow: 0 0 5px rgb(67, 67, 67);
  padding: 10px 0;
  text-align: center;
  background-color: rgb(230, 230, 230);
}
/* body.dark > h1 {
  background-color: rgb(44, 44, 44);
  box-shadow: 0 0 5px gray;
} */

#menu {
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 5px;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
}
#menu > i {
  font-size: 22px;
  color: rgb(51, 20, 0);
  padding: 10px;
  border-radius: 15px;
}

#left {
  max-width: 480px !important;
  min-width: 420px !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
}

#right {
  background-color: rgba(230, 230, 230);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px;
  flex-grow: 1;
}
/* body.dark #right {
  background-color: rgb(44, 44, 44);
} */

#left > div {
  background-color: rgba(230, 230, 230, 0.7);
  border-radius: 15px;
  padding: 18px;
  text-align: center;
  border-bottom: solid 1px gray;
}
#s1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#input-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#username {
  width: 170px;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px gray;
}
#username:focus {
  outline: none;
  border: solid 1.5px green;
}
#done {
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1.5px green;
  background-color: #f0f0f0;
  cursor: pointer;
  color: green;
  font-weight: bold;
}
#done:hover {
  background-color: rgb(229, 255, 229);
}
#s2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#s2 div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#s2 label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  padding: 8px;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: whitesmoke;
  gap: 5px;
  border: solid 1px whitesmoke;
}
#s2 input {
  display: none;
}
#s2 span {
  font-weight: lighter;
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 10px;
}
#clr4 {
  background-color: #c6f3e2;
}
#clr6 {
  background-color: #eac5ad;
}
#clr9 {
  background-color: #f79ca3;
}
#s2 label:has(> input:checked) {
  background-color: rgb(255, 246, 246);
  border: solid 1px gray;
}
#s2 label:hover {
  border: solid 1px gray;
  cursor: pointer;
}

#s3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#reverse-simon-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
#reverse-simon {
  display: none;
}
#reverse-simon-div label {
  font-weight: bold;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(215, 56, 56);
  background-color: white;
}
#reverse-simon-div label:hover {
  border: rgb(215, 56, 56) 1px solid;
}
#reverse-simon-div:has(> #reverse-simon:checked) label {
  box-shadow: 0 0 5px gray;
}
#LorDmode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#LorDmode button {
  cursor: pointer;
  font-weight: bold;
  border: none;
  width: 50%;
  padding: 10px 0;
}
#light {
  color: #333;
  background-color: whitesmoke;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#dark {
  color: whitesmoke;
  background-color: #333;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
#LorDmode button:hover {
  box-shadow: 0 0 5px gray;
}
#s5 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
#help {
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1.5px rgb(30, 30, 147);
  cursor: pointer;
  color: rgb(30, 30, 147);
  font-weight: bold;
  flex-shrink: 0;
}
#help:hover {
  background-color: rgb(227, 227, 255);
}

#show-msg {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}
#message {
  width: 100% !important;
  box-sizing: border-box;
  height: 100px !important;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  font-size: 25px;
}
.start {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(169, 25, 25);
  color: white;
  box-shadow: 0 2px 5px rgb(88, 88, 88);
  max-height: 100px;
}
.start:hover {
  box-shadow: none;
}
#level {
  text-align: center;
  font-size: 20px;
}
#show-levl {
  margin-top: 15px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.color {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 25px;
  cursor: pointer;
}
.color.flash {
  transform: scale(1.1);
  box-shadow: 0 0 12px rgb(67, 67, 67);
}
#main-2,
#main-3,
#main-4 {
  border-radius: 15px;
  border-left: #333 1px solid;
  border-right: #333 1px solid;
  box-shadow: 0 0 3px rgb(100, 100, 100);
  padding: 10px 0;
}

.game-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  text-align: center;
  line-height: 1.5;
}
.game-info > h2 {
  font-size: 24px;
  text-align: center;
  position: relative;
}
.game-info > h2 i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}
.game-info > p {
  padding: 20px 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 18px;
}
.game-info > ul > li {
  font-size: 16px;
  text-align: left;
  padding: 5px 0;
  list-style-type: none;
  padding-left: 40px;
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 10px 0;
  border-right: navy 5px solid;
  border-left: navy 5px solid;
}
.tutorial-video {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.tutorial-video iframe {
  border-radius: 5px;
}

@media (max-width: 1000px) {
  #s2 label {
    flex-direction: column;
    gap: 5px;
  }
  #username {
    width: 120px;
  }
  #left {
    max-width: 480px !important;
    min-width: 300px !important;
  }
}
@media (max-width: 880px) {
  #left {
    position: absolute;
    left: -500px;
    background-color: rgba(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
    border: solid 1px gray;
    box-shadow: 0 0 5px rgb(67, 67, 67);
    z-index: 1;
    transition: left 0.3s ease-in-out;
  }
  #left.visible {
    left: 10px;
  }
  #menu {
    display: flex;
  }
  #right {
    margin-left: 10px;
    border-radius: 13px;
    padding: 13px 17px;
  }

  #main {
    padding: 8px 12px;
  }

  body > h1 {
    font-size: 25px;
    letter-spacing: 5px;
    padding: 10px 0;
  }

  #menu {
    gap: 16px;
    padding: 4px;
    border-radius: 13px;
  }
  #menu > i {
    font-size: 18px;
    padding: 9px;
    border-radius: 13px;
  }

  #left {
    max-width: 350px !important;
    gap: 9px;
    margin-right: 9px;
  }
  #left > div {
    border-radius: 13px;
    padding: 16px;
  }
  #s1 {
    gap: 13px;
  }
  #username {
    width: 150px;
    padding: 4px 9px;
    border-radius: 4px;
  }
  #done {
    padding: 4px 9px;
    border-radius: 4px;
    border: solid 1.3px green;
  }
  #s2 {
    gap: 13px;
  }
  #s2 label {
    padding: 7px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    gap: 4px;
  }
  #s2 span {
    padding: 1px 4px;
    border-radius: 8px;
    font-size: 9px;
  }
  #s2 label:has(> input:checked) {
    box-shadow: 0 0 4px gray;
  }
  #s3 {
    gap: 13px;
  }
  #reverse-simon-div {
    gap: 9px;
  }
  #reverse-simon-div label {
    padding: 5px;
    border-radius: 4px;
  }
  #reverse-simon-div:has(> #reverse-simon:checked) label {
    box-shadow: 0 0 4px gray;
  }
  #LorDmode button {
    padding: 9px 0;
  }
  #light {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  #dark {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  #LorDmode button:hover {
    box-shadow: 0 0 4px gray;
  }
  #s5 {
    gap: 9px;
  }
  #help {
    padding: 4px 9px;
    border-radius: 4px;
    border: solid 1.3px rgb(30, 30, 147);
  }

  #show-msg {
    min-height: 70px;
    gap: 10px;
    margin-bottom: 13px;
  }
  #message {
    border-radius: 4px;
    padding: 13px;
    font-size: 20px;
    box-sizing: border-box;
  }
  .start {
    padding: 4px 9px;
    border-radius: 4px;
    font-size: 18px;
    max-height: 70px;
  }
  #level {
    font-size: 18px;
  }
  #show-levl {
    margin-top: 13px;
    padding: 0 9px;
    gap: 18px;
  }
  .color {
    height: 100px;
    width: 100px;
    margin: 10px 20px;
  }
  .color.flash {
    box-shadow: 0 0 10px rgb(67, 67, 67);
  }
  #main-2,
  #main-3,
  #main-4 {
    border-radius: 13px;
    border-left: #333 1px solid;
    border-right: #333 1px solid;
    box-shadow: 0 0 2px rgb(100, 100, 100);
    padding: 8px 0;
  }

  .game-info {
    padding: 9px;
    gap: 9px;
    line-height: 1.3;
  }
  .game-info > h2 {
    font-size: 20px;
  }
  .game-info > p {
    padding: 17px 9px;
    border-radius: 4px;
    font-size: 16px;
  }
  .game-info > ul > li {
    font-size: 15px;
    padding: 4px 0;
    padding-left: 30px;
    border-radius: 4px;
    margin: 9px 0;
    border-right: navy 4px solid;
    border-left: navy 4px solid;
  }
  .tutorial-video {
    padding: 9px;
  }
  .tutorial-video iframe {
    border-radius: 4px;
  }
}
@media (max-width: 550px) {
  #main {
    flex-direction: column;
    align-items: center;
  }
  #menu {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  #left > div {
    padding: 12px;
  }
  #right {
    margin-left: 0;
    margin-top: 8px;
    width: 95%;
    padding: 10px;
  }
  .color {
    margin: 6px;
    height: 80px;
    width: 80px;
    font-size: 12px;
  }
  #show-msg {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  #message {
    font-size: 18px;
    height: 60px;
    width: 94%;
    border-radius: 10px;
  }
  .start {
    border-radius: 5px;
    padding: 8px 0px;
  }
  #show-levl {
    margin-top: 10px;
  }
  .tutorial-video {
    flex-direction: column;
  }
}
@media (max-width: 360px) {
  html {
    overflow-x: auto;
  }
}
